<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Log 파일 경로 및 이름 설정 -->
        <Property name="LOG_FILE">logs/app.log</Property>
        <!-- 로그 패턴 설정 -->
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
    </Properties>

    <Appenders>
        <!-- 콘솔에 로그 출력 설정 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <!-- 파일에 로그 출력 설정 -->
        <File name="File" fileName="${LOG_FILE}">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </File>

        <!-- 일별 로그 파일 롤링 설정 -->
        <RollingFile name="RollingFile" fileName="${LOG_FILE}"
                     filePattern="logs/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 애플리케이션 로그 설정 (패키지에 따라 로그 레벨 설정) -->
        <Logger name="com.joy.record" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <!-- Spring 프레임워크 로그 설정 -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>


        <!-- MyBatis 로그 설정 -->
        <Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Logger>

        <Logger name="org.mybatis" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <!-- 기본 루트 로거 설정 -->
        <Root level="ERROR">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>