<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joy.record.mapper.AttachFileMapper">

    <insert id="insertAttachFile">
        INSERT INTO ATTACH_FILE
        (
            FILE_NAME
            , FILE_TYPE
            , FILE_PATH
        )
        VALUES
        (
             #{file_name}
            , #{file_type}
            , #{file_path}
        )
        <selectKey keyProperty="file_id" resultType="Integer" order="AFTER">
            SELECT MAX(FILE_ID) FROM ATTACH_FILE
        </selectKey>
    </insert>

    <select id="selectAttachFileById" resultType="AttachFile">
        SELECT
            FILE_ID
            , FILE_NAME
            , FILE_TYPE
            , FILE_PATH
        FROM ATTACH_FILE
        WHERE FILE_ID = #{file_id}
    </select>

</mapper>