<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joy.record.mapper.AttachFileMapper">

    <insert id="insertAttachFile">
        INSERT INTO attach_file
        (
            file_id
            , file_name
            , file_type
            , file_path
        )
        VALUES
        (
            NEXT VALUE FOR [dbo].[file_seq]
            , #{file_name}
            , #{file_type}
            , #{file_path}
        )
    </insert>

    <select id="selectAttachFileById" resultType="AttachFile">
        SELECT
            file_id
            , file_name
            , file_type
            , file_path
        FROM attach_file
        WHERE file_id = #{file_id}
    </select>

</mapper>