<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joy.record.mapper.BoardMapper">

    <!-- 게시글 목록 조회 : 리스트 -->
    <select id="selectBoardList" parameterType="HashMap" resultType="Board"  >
        SELECT
         row_number() over ( order by JOY_DATE, BOARD_ID ) AS ID
        , BOARD_ID
        , TITLE
        , BOARD_TEXT
        , DATE_FORMAT(JOY_DATE, '%Y-%m-%d') AS JOY_DATE
        , DATE_FORMAT(CREATED_DATE, '%Y-%m-%d %T') AS CREATED_DATE
        , DATE_FORMAT(MODIFIED_DATE, '%Y-%m-%d %T') AS MODIFIED_DATE
        , B.PUB_YN
        , B.DEL_YN
        , B.MEMBER_ID
        , M.USER_ID
        , J.JOY_ID
        , J.JOY_NAME
        FROM BOARD B
        LEFT OUTER JOIN MEMBER M
        ON B.MEMBER_ID = M.MEMBER_ID
        LEFT OUTER JOIN JOY J
        ON B.JOY_ID = J.JOY_ID
        <where>
            <if test='member_id != null and  member_id != ""'>
                AND B.MEMBER_ID = #{member_id}
            </if>
            <if test='fromDate != null and fromDate !="" and toDate != null and toDate !=""' >
                AND JOY_DATE BETWEEN #{fromDate} AND #{toDate}
            </if>
            <if test='joy_id != null and joy_id != ""'>
                AND J.JOY_ID = #{joy_id}
            </if>
            <if test='searchText != null and  searchText != ""'>
                AND (B.TITLE LIKE '%${searchText}%' OR B.BOARD_TEXT LIKE '%${searchText}%')
            </if>
            <if test='del_yn != null and  del_yn != ""'>
                AND B.DEL_YN = #{del_yn}
            </if>
        </where>
        ORDER BY ID DESC
    </select>

    <!-- 게시글 목록 조회 : 캘린더 -->
    <select id="selectBoardCalList" parameterType="HashMap" resultType="Board"  >
        SELECT
         BOARD_ID
        , TITLE
        , BOARD_TEXT
        , DATE_FORMAT(JOY_DATE, '%Y-%m-%d') AS JOY_DATE
        , DATE_FORMAT(CREATED_DATE, '%Y-%m-%d %T') AS CREATED_DATE
        , DATE_FORMAT(MODIFIED_DATE, '%Y-%m-%d %T') AS MODIFIED_DATE
        , B.PUB_YN
        , B.DEL_YN
        , B.MEMBER_ID
        , M.USER_ID
        , J.JOY_ID
        , J.JOY_NAME
        , (SELECT COLOR FROM MEMBER_JOY_R R WHERE R.MEMBER_ID= #{member_id} AND R.JOY_ID = J.JOY_ID) AS COLOR
        FROM BOARD B
        LEFT OUTER JOIN MEMBER M
        ON B.MEMBER_ID = M.MEMBER_ID
        LEFT OUTER JOIN JOY J
        ON B.JOY_ID = J.JOY_ID
        <where>
            <if test='member_id != null and  member_id != ""'>
                AND B.MEMBER_ID = #{member_id}
            </if>
            <if test='fromDate != null and fromDate !="" and toDate != null and toDate !=""' >
                AND JOY_DATE BETWEEN #{fromDate} AND #{toDate}
            </if>
            <if test='joy_id != null and joy_id != ""'>
                AND J.JOY_ID = #{joy_id}
            </if>
            <if test='searchText != null and  searchText != ""'>
                AND (B.TITLE LIKE '%${searchText}%' OR B.BOARD_TEXT LIKE '%${searchText}%')
            </if>
            <if test='del_yn != null and  del_yn != ""'>
                AND B.DEL_YN = #{del_yn}
            </if>
        </where>
        ORDER BY JOY_DATE DESC
    </select>


    <!-- 게시글 단일 조회 -->
    <select id="selectBoardOne" parameterType="HashMap" resultType="Board">
        SELECT
        B.BOARD_ID
        , TITLE
        , BOARD_TEXT
        , DATE_FORMAT(JOY_DATE, '%Y-%m-%d') AS JOY_DATE
        , DATE_FORMAT(CREATED_DATE, '%Y-%m-%d %T') AS CREATED_DATE
        , DATE_FORMAT(MODIFIED_DATE, '%Y-%m-%d %T') AS MODIFIED_DATE
        , B.PUB_YN
        , B.DEL_YN
        , B.MEMBER_ID
        , M.USER_ID
        , J.JOY_ID
        , J.JOY_NAME
        , IFNULL(R.FILE_ID, 0) AS FILE_ID
        FROM BOARD B
        LEFT OUTER JOIN MEMBER M
        ON B.MEMBER_ID = M.MEMBER_ID
        LEFT OUTER JOIN JOY J
        ON B.JOY_ID = J.JOY_ID
        LEFT OUTER JOIN BOARD_FILE_R R
        ON B.BOARD_ID = R.BOARD_ID
        <where>
            B.BOARD_ID = #{board_id}
        </where>
        LIMIT 1
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="HashMap" >
        INSERT INTO BOARD
        (TITLE
        , BOARD_TEXT
        , JOY_DATE
        , CREATED_DATE
        , DEL_YN
        , MEMBER_ID
        , PUB_YN
        <if test='joy_id != null and joy_id != ""'>
           , JOY_ID
        </if>
        <if test='file_id != null and file_id != ""'>
           , FILE_ID
        </if>
        )
        VALUES
        (
        #{title}
        , #{board_text}
        , #{joy_date}
        , NOW()
        , 'N'
        , #{member_id}
        , #{pub_yn}
        <if test='joy_id != null and joy_id != ""'>
            , #{joy_id}
        </if>
        <if test='file_id != null and file_id != ""'>
            , #{file_id}
        </if>
        )

        <selectKey keyProperty="board_id" resultType="Integer" order="AFTER">
            SELECT MAX(BOARD_ID) FROM BOARD
        </selectKey>

    </insert>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="HashMap" >
        UPDATE BOARD
        <set>
            <if test='title != null and title != ""'>
                TITLE = #{title},
            </if>
            <if test='board_text != null and board_text != ""'>
                BOARD_TEXT = #{board_text},
            </if>
            <if test='joy_date != null and joy_date != ""'>
                JOY_DATE = #{joy_date},
            </if>
            <if test='joy_id != null and joy_id != ""'>
                JOY_ID = #{joy_id},
            </if>
            <if test='pub_yn != null and pub_yn != ""'>
                PUB_YN = #{pub_yn},
            </if>
            MODIFIED_DATE = NOW()

        </set>
        WHERE BOARD_ID = #{board_id}
    </update>

    <!-- 게시글 삭제 (DEL_YN : Y 수정) -->
    <update id="deleteBoard" parameterType="HashMap" >
        UPDATE BOARD
        <set>
            DEL_YN = 'Y',
            MODIFIED_DATE = NOW()
        </set>
        WHERE BOARD_ID = #{board_id}
    </update>
</mapper>