<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joy.record.mapper.JoyMapper">

    <!-- 취미 목록 조회 -->
    <select id="selectJoyList" parameterType="HashMap" resultType="Joy">
        SELECT
         JOY_ID
        , JOY_NAME
        , DETAIL
        , DEL_YN
        FROM JOY J
        <where>
            <if test='del_yn != null and  del_yn != ""'>
                AND DEL_YN = #{del_yn}
            </if>
        </where>
    </select>


    <!-- 취미 등록 -->
    <insert id="insertJoy" parameterType="HashMap">
        INSERT INTO JOY
        (JOY_ID
        , JOY_NAME
        , DETAIL
        , DEL_YN
        )
        VALUES
        (
        #{joy_id}
        , #{joy_name}
        , #{detail}
        , 'N'
        )
    </insert>

    <!-- 취미 수정 -->
    <update id="updateJoy" parameterType="HashMap" >
        UPDATE JOY
        <set>
            <if test='joy_name != null and joy_name != ""'>
                JOY_NAME = #{joy_name},
            </if>
            <if test='detail != null and detail != ""'>
                DETAIL = #{detail},
            </if>
            <if test='del_yn != null and del_yn != ""'>
                DEL_YN = #{del_yn},
            </if>
        </set>
        WHERE JOY_ID = #{joy_id}
    </update>


    <!-- 조이 차트 :  전체기간(올 한 해) 동안 취미 갯수 조회-->
    <select id="selectJoyCount" parameterType="HashMap" resultType="Joy">
        SELECT
            J.JOY_ID,
            count(J.JOY_ID) AS COUNT,
            JOY_NAME
        FROM joyRecord_DB.BOARD B
        LEFT OUTER JOIN JOY J ON B.JOY_ID = J.JOY_ID
        <where>
            JOY_DATE BETWEEN DATE_FORMAT(CURDATE(), '%Y-01-01')
            AND DATE_FORMAT(CURDATE(), '%Y-12-31')
            AND J.DEL_YN = 'N'
            AND B.DEL_YN = 'N'
            <if test='member_id != null and  member_id != ""'>
                AND MEMBER_ID = #{member_id}
            </if>
        </where>
        GROUP BY J.JOY_ID
    </select>




    <!-- 조이 차트 :  전체기간(올 한 해) 동안 월 별 취미 갯수 -->
    <select id="selectJoyCountMonth" parameterType="HashMap" resultType="Joy">
        WITH RECURSIVE MONTHS AS (
            SELECT DATE_FORMAT(CURDATE(), '%Y-01-01') AS MONTH
                UNION ALL
            SELECT DATE_ADD(month, INTERVAL 1 MONTH)
            FROM MONTHS
            WHERE MONTH <![CDATA[ < ]]> DATE_FORMAT(CURDATE(), '%Y-12-31')
        )
        SELECT
            DATE_FORMAT(M.MONTH, '%Y-%m') AS MONTH,
            COUNT(B.JOY_DATE) AS COUNT
        FROM MONTHS M
        LEFT JOIN BOARD B
        ON DATE_FORMAT(B.JOY_DATE, '%Y-%m') = DATE_FORMAT(M.MONTH, '%Y-%m')
        <if test='member_id != null and  member_id != ""'>
            AND B.MEMBER_ID = #{member_id}
        </if>
        WHERE YEAR(M.MONTH) = YEAR(CURDATE())
        GROUP BY M.MONTH
        ORDER BY M.MONTH
    </select>



</mapper>